.block {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  padding: 5px;
}

.h2 {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.h3 {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
